@import '../../../../variables.scss';
.card{
    background: $cardBackground;
    
    border-radius: .25em;
    > * {
        margin-bottom: $marginMedium;
    };
    

    > .card-header{
        padding: $paddingSmall;
        padding-bottom: $paddingSmall;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        background: $cardHeaderBackground;
        border-radius: .25em;
        > * {
            align-self: end;
            margin-right: $marginSmall;
        }
        > *:last-child{
            margin-right: 0;
            margin-left: auto;
        }

        .sub-title{
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    > .card-main{
        padding: $paddingSmall $paddingMedium;
    }

    > .card-footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}