@import '../../../../variables.scss';


.comments {
    display: flex;
    flex-flow: column nowrap;
    background-color: $backgroundComment;
    padding: $marginSmall;
    color: $commentMainTextColor;
    border-bottom-right-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    > .title, .sub-title {
        color: $commentTitleTextColor;
    }
    > * {
        margin-bottom: $marginSmall;
    }
}