@import '../../../../variables.scss';
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    margin-bottom: $marginLarge;
    margin-top: $marginSmall;
    height: 3em;
    > * {
        align-self: center;
        display : flex;
        flex-flow: row nowrap;
        >* {
            align-self: center;
        }
    }
    > *:nth-child(2){
    margin-left: auto;
    }
    img{
        margin-right: $marginSmall;
    }

    .nav-text{
        font-family: $dosisFontFamily;
        color: $headline;
        font-size: $fontSizeTitle;
    }
}