/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap');
@import './variables.scss';


body{
    background: $background;
    font-family: $cultiveFontFamily;
    font-weight: 400;
    font-size: $fontSize;
    color: $headline;
    margin: 0 $marginLarge;
}

button{
    font-family: $cultiveFontFamily;
    font-size: $fontSizeButton;
    background-color: $button;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
}

a{
    text-decoration: none;
}

p, span, text{
    font-family: $cultiveFontFamily;
    color: $paragraph;
}

h1,h2,h3,h4{
    font-family: $dosisFontFamily;
    color: $headline;
}
h1{
    font-weight: 700;
    font-size: 2.3em;
}
h2{
    font-weight: 600;
    font-size: 2em;
}
h3{
    font-weight: 500;
}
h4{
    font-weight: 400;
}

.title {
    font-family: $dosisFontFamily;
    color: $headline;
    font-weight: 600;
    font-size: 2em;
}

.sub-title { 
    font-weight: 500;
    font-size: 1.5em;
}