$background : #16161a;
$headline : #fffffe;
$paragraph : #94a1b2;
$button : #7f5af0;
$buttonText: #fffffe; 
$cardBackground: #242629;
$secondaryButton: #2cb67d;
$cardHeaderBackground : $button;
$cultiveFontFamily: 'Cutive Mono', monospace;
$dosisFontFamily: 'Dosis', sans-serif;
$borderRadius: .25em;
$marginXSmall: .25em;
$marginSmall: .5em;
$marginMedium: 1em;
$marginLarge: 1.5em;
$marginXLarge: 2em;
$paddingSmall: $marginSmall;
$paddingMedium: $marginMedium;
$paddingLarge: $marginLarge;
$paddingXLarge: $marginXLarge;
$paddingXSmall: $marginXSmall;
$fontSizeSmall: .75em;
$fontSize: 1em;
$fontSizeSubTitle: 1.25em;
$fontSizeTitle: 1.5em;
$fontSizeLarge: 2em;
$fontSizeButton: .75em;
$fontSizeNavigation: 1.25em;



$backgroundComment : $headline;
$commentMainTextColor: $cardBackground;
$commentTitleTextColor: $background;