@import '../../../../variables.scss';

form{
    padding: $paddingLarge $paddingMedium;
    display: flex;
    flex-flow: column nowrap;
    .input-group{
        display: flex;
        flex-flow: column nowrap;
        > * {
            margin: 0 auto;
        }
        > input:active + label{
            top: 1em;
            
            transform: scale(0.2);
        }
        >input {
            margin-bottom: $marginMedium;
            width: 100%;
            border-style: none none solid;
            border-width: 1px;
            background: transparent;
            color: $headline;
        }
        > span{
            color: $button;
            font-size: $fontSizeSmall;
            margin-left: 0;
        }
    }
    
    

    

    > button{
        background-color: $secondaryButton;
        color: $headline;
        font-family: $dosisFontFamily;
        font-size: $fontSize;
        padding: $paddingSmall $paddingSmall;
        width: 100%;
        margin: 0 auto;
        margin-top: $marginMedium;
    }
}