@import '../../../../variables.scss';


.comment{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
    padding-bottom: $paddingSmall;
    > * {
        align-self: flex-end;
    }

    .comment-main{
        margin-right: $marginLarge;
    }
    .user{
        margin-left: auto;
        margin-right: $marginMedium;
        font-family: $dosisFontFamily;
        font-size: $fontSizeSmall;
    }

    .date {
        font-size: $fontSizeSmall;
        color: $paragraph;
    }
    border-bottom: solid 1px $paragraph;
}